.post {
  width: 385px;
  margin: 0 20px 40px 20px;
}

.post .post-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.post .post-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post .post-categories {
  display: flex;
}

.post .category {
  font-weight: 400;
  font-size: 14px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.post-title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.post-date {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.post-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}