.singlePost {
  flex: 9;
  width: 100%;
}

.singlePost-wrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePost-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePost-title {
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.singlePost-edit {
  float: right;
  font-size: 16px;
}

.singlePost-edit i {
  margin-left: 10px;
  cursor: pointer;
}

.singlePost-edit i:first-child {
  color: teal;
}

.singlePost-edit i:last-child {
  color: tomato;
}

.singlePost-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
}

.singlePost-author {
  margin-left: 5px;
}

.singlePost-desc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePost-desc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}