.settingPage {
  display: flex;
}

.settingPage .wrapper {
  flex: 9;
  padding: 20px;
}

.settingPage .title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.settingPage .update {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
  font-weight: 700;
}

.settingPage .delete {
  position: absolute;
  color: red;
  font-size: 14px;
  cursor: pointer;
  right: 0;
}

.settingPage form {
  display: flex;
  flex-direction: column;
}

.settingPage .settingPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
}

.settingPage .settingPP>img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.settingPage .settingPP label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.settingPage .settingPP i {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}

.settingPage form label {
  font-size: 20px;
  margin-top: 20px;
}

.settingPage form input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingPage form input:focus {
  outline: none;
}

.settingPage form button {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.settingPage form button:hover {
  background-color: rgb(1, 114, 114);
}